* {
  font-family: Roboto, sans-serif;
  font-size: 16px;
  margin: 0;
}

form {
  margin: auto;
  width: 400px;
}

ul {
  list-style: none;
  padding: 0;
}

label {
  display: block;
}

input,
textarea {
  width: 400px;
  border-width: 1px;
  border-radius: 4px;
  border-color: darkgrey;
  border-style: solid;
  padding: 3px;
  margin: 5px 0px 10px 0px;
}

button {
  border-width: 0px;
  padding: 5px 15px;
  border-radius: 5px;
  cursor: pointer;
  background-color: dodgerblue;
  color: whitesmoke;
}
